{% extends "home/index.html" %}
{% load static %}

{% block tp_final_title %}
Payment list
{% endblock %}

{% block tp_final_header %}
    <header class="masthead" style="background-image: url('../../static/home/assets/img/header-light.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h2>Listado de condiciones de pago</h2>
                        <span class="subheading">Entrega Final - Diego Muro 2022</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'payment:payment-add' %}">Crear nueva condicion de pago</a>
        </div>
    </header>
{% endblock %}


{% block tp_final_content %}
    {% for payment in payment_list %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{% url 'payment:payment-detail' payment.id %}">  
                <h3 class="post-title"> Cod: {{ payment.code }} | Cond Pago: {{ payment.name }}</h3>
                <h5 class="post-subtitle">Dias permitidos: {{ payment.days }}</h5>
            </a>     
            <p class="post-meta">
                Creado 
                <a href="#!"> </a> 
                 {{ payment.created_at }}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}