{% extends "home/index.html" %}
{% load static %}

{% block tp_final_title %}
Customer list
{% endblock %}

{% block tp_final_header %}
    <header class="masthead" style="background-image: url('../../static/home/assets/img/header-light.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h2>Listado de clientes</h2>
                        <span class="subheading">Entrega Final - Diego Muro 2022</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'customer:customer-add' %}">Crear nuevo cliente</a>
        </div>
    </header>
{% endblock %}


{% block tp_final_content %}
    {% for customer in customer_list %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{% url 'customer:customer-detail' customer.id %}"> 
                <h6 class="post-title"> Cod: {{ customer.code }} | Cliente {{ customer.name }}</h6>
            </a>    
            <p class="post-meta">
                Creado por
                <a href="#!">Start Bootstrap</a> 
                en {{ customer.created_at }}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}

    <!--Pagination-->
    <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if customer_list.has_previous %}
                    <a href="?page=1">&laquo; first</a> |
                    <a href="?page={{ customer_list.previous_page_number }}">previous</a> |
                {% endif %}
    
                {% if customer_list.paginator.num_pages > 1 %}
                <span class="current">
                    Page {{ customer_list.number }} of {{ customer_list.paginator.num_pages }} |
                </span>
                {% endif %}
    
                {% if customer_list.has_next %}
                    <a href="?page={{ customer_list.next_page_number }}">next</a> |
                    <a href="?page={{ customer_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!--end of Pagination-->

    <!--Pagination Class Based Views-->
{% if is_paginated %}
<div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a> |
                <a href="?page={{ customer_list.previous_page_number }}">previous</a> |
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
            </span>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a> |
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
<!--end of Pagination-->

{% endblock %}
 
    
    