{% extends "home/index.html" %}
{% load static %}

{% block tp_final_title %}
Customer detail
{% endblock %}

{% block tp_final_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/header-light.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ customer.name }}</h1>
                    <span class="subheading">Detalles del cliente</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'customer:customer-add' %}">Crear nuevo Cliente</a>
    </div>
</header>
{% endblock %}


{% block tp_final_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Código: {{ customer.code }}</h3>
    <p class="post-meta">
        Creado por
        <span style="color: #0b4956;" href="">{{ customer.owner.username }}</span>
        ( {{ customer.created_at }} )
        <br>
        Última fecha de actualización ( {{ customer.updated_at }} )
    </p>

    <!-- Image -->
    {% if customer.image %}
        <div style="text-align: center;">
            <img height="250px" src="{{ customer.image.url }}">
        </div>
    {% endif %}

     <!-- Description -->
    <p class="card-text ">{{ customer.description|safe }}</p> <!-- ckeditor-->

    <!-- Update-Delete link only for the owner -->
    {% if user == customer.owner or user.is_superuser %}    
        <p style="text-align: center">
            <a href="{% url 'customer:customer-update' customer.id %}">
                <i class="fa fa-pencil" style="color: #008000;"></i> Editar cliente
            </a>
            &ensp; | &ensp;
            <a href="{% url 'customer:customer-delete' customer.id %}">
                <i class="fa fa-trash" style="color: #ff0000;"></i> Eliminar cliente
            </a>
        </p>
    {% endif %}

    <!-- Divider-->
    <hr class="my-4" />

    <!-- Comment creation -->
    <form method="post" action="{% url 'customer:comment-create' customer.id %}">
        {% csrf_token %}
        {{ comment_form }}
    <input type="submit" value="Publicar comentario">
    </form>
    {% if not comments %}
        <p></p>
    {% endif %}

    <!-- Comments list -->
    {% for comment in comments %}
        <p> {{ comment.text }}
            ({{ comment.owner.username }} | {{ comment.updated_at }})
            {% if user == comment.owner or user.is_superuser %}
            <a href="{% url 'customer:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
            {% endif %}
        </p>
    {% endfor %}    
</div>
{% endblock %}

