{% extends "home/index.html" %}
{% load static %}

{% block tp_final_title %}
Credit list
{% endblock %}

{% block tp_final_header %}
    <header class="masthead" style="background-image: url('../../static/home/assets/img/centro-comercial-carrefour-alcobendas-051.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h2>Listado de limite de credito</h2>
                        <span class="subheading">Entrega Final - Diego Muro 2022</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'credit:credit-add' %}">Crear nuevo limite de credito</a>
        </div>
    </header>
{% endblock %}

{% block tp_final_content %}
    {% for credit in credit_list %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{% url 'credit:credit-detail' credit.id %}">            
                <h5 class="post-sutitle"> Cod: {{ credit.code }} | Riesgo: {{ credit.description }}</h5>
                <h5 class="post-subtitle"> Credito permitido ($): {{ credit.amount }}</h5>
            </a>    
            <p class="post-meta">
                Creado 
                <a href="#!"> </a> 
                 {{ credit.created_at }}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}


