{% extends "home/index.html" %}
{% load static %}

{% block tp_final_title %}
Product list
{% endblock %}

{% block tp_final_header %}
    <header class="masthead" style="background-image: url('../../static/home/assets/img/header-light.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h2>Listado de productos</h2>
                        <span class="subheading">Entrega Final - Diego Muro 2022</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'product:product-add' %}">Crear nuevo producto</a>
        </div>
    </header>
{% endblock %}

{% block tp_final_content %}
    {% for product in product_list %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{% url 'product:product-detail' product.id %}"> 
                <h3 class="post-title"> Cod: {{ product.code }} | Producto: {{ product.description }}</h3>
                <h5 class="post-subtitle"> Unidades vendidas ultimo mes: {{ product.unit_sales }}</h5>
            </a>
            <p class="post-meta">
                Creado 
                <a href="#!"> </a> 
                 {{ product.created_at }}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}

